<!DOCTYPE
    html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    >
    <title>Upload de CSV</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-md">
                <div class="navbar-nav flex-row gap-2">
                    <a class="nav-link" href="/reports">Transações</a>
                    <a class="nav-link" aria-current="page" href="/admin">Usuários</a>
                </div>
                <button id="logoutBtn" class="btn btn-danger" type="button">Sair</button>
            </div>
        </nav>
    </header>

    <main class="container-md">
        <div id="warning" class="alert mt-2" role="alert" style="display: none;"></div>

        <section class="my-3">
            <h1>Enviar transações</h1>
            <form class="mb-3" method="post" enctype="multipart/form-data" action="upload">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Selecione o arquivo csv desejado</label>
                    <input class="form-control" type="file" id="formFile" name="transactions" required>      
                </div>
                <button id="submitButton" type="submit" class="btn btn-success">Enviar</button>
            </form>
        </section>

        <section>
            <h2 id="transactions__title">Importações realizadas anteriormente</h1>
            <div class="overflow-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center align-middle">Datas das transações</th>
                            <th class="text-center align-middle">Datas de importação</th>
                            <th class="text-center align-middle">Importado por</th>
                            <th class="text-center align-middle">Opções</th>
                        </tr>
                    </thead>
                    <tbody id="transactions__table-body"></tbody>
                </table>
            </div>
        </section>
    </main>
    
    <script>
        // Selecting all necessary elements
        const submitButton = document.querySelector('#submitButton');
        const transactionsTableBody = document.querySelector('#transactions__table-body');
    </script>

    <script>
        // Declaring non-event functions
        function fillTable(imports) {
            function returnDetailsBtn(imp) {
                const tdDetails = document.createElement('td');
                const detailsBtn = document.createElement('button');

                detailsBtn.textContent = 'Detalhes';
                detailsBtn.classList = 'btn btn-info';
                detailsBtn.addEventListener('click', () => window.location = `/report/${imp.id}`);

                tdDetails.classList = 'text-center align-middle'
                tdDetails.appendChild(detailsBtn);
                return tdDetails;
            }

            imports.forEach(imp => {
                const tr = document.createElement('tr');
                const tdTransactionDate = document.createElement('td');
                const tdImportDate = document.createElement('td');
                const tdImportedBy = document.createElement('td');

                tdTransactionDate.textContent = new Date(imp.datetime).toLocaleDateString();
                tdImportDate.textContent = new Date(imp.importedAt).toLocaleString();
                tdImportedBy.textContent = imp.user.name;

                const elements = [ tdTransactionDate, tdImportDate, tdImportedBy ];
                elements.forEach(elem => {
                    elem.classList = 'text-center align-middle';
                    tr.appendChild(elem);
                });
                tr.appendChild(returnDetailsBtn(imp));
                transactionsTableBody.appendChild(tr);
            });
        }

        function getTransactions() {
            const headers = { 'Content-Type': 'application/json'};
            const init = {
                method:  'get',
                headers: headers,
                mode: 'cors'
            };
            fetch(`http://localhost:3333/imports`, init)
            .then(resp => resp.json().then(body => {
                if (body.length === 0) {
                    const transactionsTitle = document.querySelector('#transactions__title');
                    transactionsTitle.textContent = 'Transações ainda não foram importadas';
                    return;
                }
                fillTable(body);
            }))
            .catch(error => console.log(error))
        } 

        function showAlert(type, message) {
            const warning = document.querySelector('#warning');
            warning.style.display='';
            warning.classList.toggle(`alert-${type}`);
            warning.textContent=message;
            window.setTimeout(() => {
                warning.style.display = 'none';
            }, 5000);
        }
   
        function getQueryParams() {
            const queryParams = {}
            const windowSearch = window.location.search;
            if(!windowSearch) return false;
            windowSearch.substring(1).split('&').forEach(item => {
                const param = item.split('=');
                queryParams[param[0]] = param[1];
            });
            return queryParams;
        }
    </script>

    <script>
        // Defining window's load event
        window.onload = () => {
            const queryParams = getQueryParams();
            if(queryParams) {
                const { valid, duplicate } = queryParams;
                let alertType = !duplicate ? 'success' : 'warning';
                let alertMessage = 'Transações salvas com sucesso!';
                if (duplicate) alertMessage = 'O arquivo enviado já foi processado anteriormente.';
                else if (!Number(valid)) {
                    alertType = 'danger';
                    alertMessage = 'Transações inválidas. Não há transações registradas.'
                }
                showAlert(alertType, alertMessage);
            }
            getTransactions();
        }
    </script>
    
    <script>
        const logoutBtn = document.querySelector('#logoutBtn');
        logoutBtn.addEventListener('click', () => {
            fetch(`http://localhost:3333/users/logout`)
            .then(resp => {
                if(resp.status === 200) window.location.replace('/');
            })
            .catch(error => console.log(error));
        })
    </script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
</body>
</html>