<!DOCTYPE
    html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    >
    <title>Upload de CSV</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-md">
                <div class="navbar-nav flex-row gap-2">
                    <a class="nav-link" href="/reports">Transações</a>
                    <a class="nav-link" href="/analysis">Analisador</a>
                    <a class="nav-link" aria-current="page" href="/admin">Usuários</a>
                </div>
                <button id="logoutBtn" class="btn btn-danger" type="button">Sair</button>
            </div>
        </nav>
    </header>

    <main class="container-md">
        <div id="alert" class="alert mt-2" role="alert" style="display: none;"></div>

        <section class="my-3">
            <h1>Enviar transações</h1>
            <form class="mb-3" method="post" enctype="multipart/form-data" action="upload">
                <div id="uploadForm" class="mb-3">
                    <label for="formFile" class="form-label">Selecione o arquivo csv desejado</label>
                    <input class="form-control" type="file" id="formFile" name="transactions" accept=".csv, text/xml" required>      
                </div>
                <button id="submitButton" type="submit" class="btn btn-success">Enviar</button>
            </form>
        </section>

        <section>
            <h2 id="transactions__title">Importações realizadas anteriormente</h1>
            <div class="overflow-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center align-middle">Datas das transações</th>
                            <th class="text-center align-middle">Datas de importação</th>
                            <th class="text-center align-middle">Importado por</th>
                            <th class="text-center align-middle">Opções</th>
                        </tr>
                    </thead>
                    <tbody id="transactions__table-body"></tbody>
                </table>
            </div>
        </section>
    </main>

    <script src="/static/js/logout.js"></script>
    <script src="/static/js/showAlert.js"></script>
    <script src="/static/js/getQueryParams.js"></script>
    <script src="/static/js/imports/fillTable.js"></script>
    
    <script>
        // Declaring non-event functions
        function getImports() {
            const headers = { 'Content-Type': 'application/json'};
            const init = {
                method:  'get',
                headers: headers,
                mode: 'cors'
            };
            fetch(`http://localhost:3333/imports`, init)
            .then(resp => resp.json().then(body => {
                if (body.length !== 0) {        
                    const transactionsTableBody = document.querySelector('#transactions__table-body');
                    fillTable(transactionsTableBody, body);
                }
                const transactionsTitle = document.querySelector('#transactions__title');
                transactionsTitle.textContent = 'Transações ainda não foram importadas';
            }))
            .catch(error => console.log(error));
        } 
    </script>

    <script>
        // Defining window's load event
        window.onload = () => {
            const queryParams = getQueryParams();
            if(queryParams) {
                const { valid, duplicate, internalError } = queryParams;
                let alertType = !duplicate ? 'success' : 'warning';
                let alertMessage = 'Transações salvas com sucesso!';
                console.log(Number(internalError))
                if (duplicate) alertMessage = 'O arquivo enviado já foi processado anteriormente.';
                else if (Number(internalError)) {
                    alertType = 'danger';
                    alertMessage = 'As transações não foram registradas devido a um erro interno.'
                }
                else if (!Number(valid)) {
                    alertType = 'danger';
                    alertMessage = 'Transações inválidas. Não há transações registradas.'
                }
                const pageAlert = document.querySelector('#alert');
                showAlert(pageAlert, alertType, alertMessage);
            }
            getImports();
        }
    </script>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
</body>
</html>