<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    >
    <title>Upload de CSV</title>
</head>
<body>
    <main class="container-md">
        <h1 class="mb-4">Sistema de Análise de Transações Financeiras</h1>
        <div id="alert" class="alert alert-warning mt-2" role="alert" style="display: none;"></div>
        <form id="loginForm" class="mb-3" method="post" action="/users/login">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>      
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input class="form-control" type="password" id="password" name="password" required>      
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </main>

    <script src="/static/js/getQueryParams.js"></script>
    <script src="/static/js/showAlert.js"></script>
    
    <script>
        const loginAlert = document.querySelector('#alert');

        // Window's load event
        window.onload = () => {
            const queryParams = getQueryParams();
            if(queryParams) {
                const { auth } = queryParams;
                if (!Number(auth)) showAlert(loginAlert, 'warning', 'Você precisa realizar o login.');
            }
        };
    </script>
    
    <script>
        // Submit Form Event
        const loginForm = document.querySelector('#loginForm');
        loginForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const { email, password } = e.target.elements;
            const init = {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    email: email.value,
                    password: password.value
                }),
            }
            fetch('http://localhost:3333/users/login', init)
            .then(resp => {
                if(resp.status === 200) return window.location.replace('/reports');
                resp.json().then(body => showAlert(loginAlert, 'danger', body.message));
            });
        });
    </script>
    
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
</body>
</html>