<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
    >
    <title>Upload de CSV</title>
</head>
<body style="padding-top: 1rem;">
    <main class="container">
        <h1 class="mb-4">Sistema de Análise de Transações Financeiras</h1>
        <div id="warning" class="alert alert-warning mt-2" role="alert" style="display: none;"></div>
        <form id="loginForm" class="mb-3" method="post" action="/users/login">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input class="form-control" type="email" id="email" name="email" required>      
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input class="form-control" type="password" id="password" name="password" required>      
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </main>

    <script>
        // Selecting all necessary elements
        const loginForm = document.querySelector('#loginForm');
        const warning = document.querySelector('#warning');
    </script>

    <script>
        function showAlert(message) {
            warning.style.display = '';
            warning.textContent = message;
        }
    
        function getQueryParams() {
            const queryParams = {}
            const windowSearch = window.location.search;
            if(windowSearch) {
                window.location.search.substring(1).split('&').forEach(item => {
                    const param = item.split('=');
                    queryParams[param[0]] = param[1];
                });
                return queryParams;
            }
            else return false;
        }
    </script>

    <script>
        // Defining window's load event
        window.onload = () => {
            const queryParams = getQueryParams();
            if(queryParams) {
                const userIsNotAuthorized = queryParams['auth'] && Number(queryParams['auth']);
                if (!userIsNotAuthorized) showAlert('Você precisa realizar o login.');
            }
        }
    </script>

    <script>
        // Login submit event
        loginForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const { email, password } = e.target.elements
            fetch(
                'http://localhost:3333/users/login',
                {
                    method: 'post',
                    body: JSON.stringify({
                        email: email.value,
                        password: password.value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }
            )
            .then(resp => {
                if(resp.status === 200) return window.location.replace('/reports');
                resp.json().then(body => showAlert(body.message));
            })
        })
    </script>
    
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"
    ></script>
</body>
</html>